@font-face {
	font-family: "open";
	src: local("open"), url(./fonts/OpenSans.ttf) format("truetype");
}
@font-face {
	font-family: "openbold";
	src: local("openbold"), url(./fonts/OpenSansBold.ttf) format("truetype");
}

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
div .ant-layout-footer {
	background: none;
}

div .ant-card-body {
	padding: 10px;
}

div .ant-menu.ant-menu-dark,
.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark .ant-menu-sub {
	background: #fff;
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1),
		0 2px 4px 0 rgba(14, 30, 37, 0.12);
	position: fixed;
	width: 100%;
	z-index: 9;
}

div .ant-layout-header {
	background: #f7f7f7;
	height: 64px;
}
div .ant-menu {
	height: 64px;
	overflow: hidden;
}

div .ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
	background: #fff;
}

div .ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover {
	background: transparent;
}

div .ant-drawer-header {
	padding: 16px 24px;
}

div .ant-drawer-mask {
	background-color: #e7e7e773;
}

div .ant-drawer-body {
	padding: 0;
	background: #f7f7f7;
	overflow: hidden;
}

.list {
	background: #fff;
	padding: 10px;
	margin-bottom: 1.7px;
	color: #6b6b6b;
	font-family: open;
	cursor: pointer;
}
.list:hover {
	background: #f0f0f3;
}

.leaflet-container {
	width: 100%;
	height: 100vh;
}
div .ant-upload.ant-upload-select-picture-card {
	background: transparent;
	border: none;
}
div .ant-btn-primary {
	background: #3f51b5;
	border: none;
}
div .ant-btn-primary:hover {
	background: #0b27c4;
	border: none;
}
div .ant-btn-ghost:active {
	color: #0b27c4;
	border-color: #0b27c4;
}
div .ant-btn-ghost:hover,
.ant-btn-ghost:focus {
	color: #0b27c4;
	border-color: #0b27c4;
}
div .ant-btn-dashed:active {
	color: #0b27c4;
	border-color: #0b27c4;
}
div .ant-btn-dashed:hover,
.ant-btn-dashed:focus {
	color: #0b27c4;
	border-color: #0b27c4;
}
div .ant-picker-now-btn {
	color: #0b27c4;
}
div .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
	color: #0b27c4;
}
div .ant-tabs-tab:hover {
	color: #0b27c4;
}

div .ant-tabs-ink-bar {
	background: #0b27c4;
}
div a {
	color: #0b27c4;
}

a {
	color: #0b27c4;
}

a :hover {
	color: #0b27c4;
}

div a :hover {
	color: #0b27c4;
}
div .ant-drawer-title {
	color: #222;
	font-family: openbold;
}
#details_title {
	margin: 0;
}

#details_title2 {
	margin: 0;
	font-family: open;
	color: #6b6b6b;
	font-size: 14px;
	font-weight: 100;
}
.title3 {
	color: #222;
	font-size: 12px;
	font-family: openbold;
}
div .ant-checkbox-checked .ant-checkbox-inner {
	background-color: #3f51b5;
	border: none;
}
